body{
    background-color: beige;
}


.heading{
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    text-align: center;
}
.form{
    font-family:'Times New Roman', Times, serif;
    font-size: 25px;
    text-align: center;
    background-color: white;
    margin-top:10rem;
}

.form-group{
    margin-top:3rem;
    
}

.btn{
    margin-top: 5rem;
    width:100px;
    height:30px;
    font-size:15px;
    background-color: beige;
    

}

input{
    height:25px;
    margin-left:2rem;
}